.gallery {

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-auto-flow: dense;
        margin-top: 100px;
    }

    &__item {
        position: relative;
        overflow: hidden;
        object-fit: cover;

        &:hover {
            cursor: pointer;
        }

        &--vertical {
            grid-row-end: span 2;
        }
    }

    &__pic, &__video {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 124ms linear, transform 124ms linear;

        &:hover {
            opacity: 0.5;
            transform: scale(1.05);
        }
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;

    &--display {
        display: block;
        animation-name: modal-show;
        animation-duration: 0.315s;
    }

    &--hide {
        display: none;
        animation-name: modal-hide;
        animation-duration: 0.315s;
    }
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
}

.modal-image, .modal-video {
    z-index: 29;
    width: 100%;
    max-width: 80vw;
    min-width: 30vw;
    cursor: pointer;
    position: absolute;

    height: auto;
    max-height: 90vh;
    min-width: 30vh;

    object-fit: contain;
    
    @include tablet {
        max-width: 100vw;
    }
}

.prev, .next {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 150ms ease-in-out;

        &--wrapper {
            position: absolute;
            height: 100vh;
            width: 20vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            z-index: 31;

            &:hover {
                .prev, .next {
                    fill: white;
                }
            }
        }
}

.prev--wrapper {
    left: 0;
}

.next--wrapper {
    right: 0;
    flex-direction: row-reverse;
}