.header {
    border-bottom: 0.5px solid #fff;

    &__container {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-self: center;
            height: 125px;
            z-index: 2;

            @include tablet {
                height: 107px;
            }

            @include wideMobile {
                height: 95px;
                justify-content: end;
            }

            @include mediumMobile {
                height: 85px;
            }

            @include tinyMobile {
                height: 70px;
            }
    }

    &__item {
        z-index: 11;
    }
}

.nav {
    display: flex;
    align-items: center;
    z-index: 11;

    @include wideMobile {
        display: none;
    }

    &__list {
        display: flex;    

        &-item {
            margin-right: 85px;
            @include fontStyle(Open Sans, 400, 20);

            @include netbook {
                margin-right: 35px;
            }

            @include tablet {
                margin-right: 25px;
                @include fontStyle(Open Sans, 400, 18);
            }

            &:hover {
                @include hoverUnderlineText;    
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.logo {
    position: relative;

    &--wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        @include flexCenter;
        z-index: 1;
    }

    &__img {
        z-index: 12;

        @include tablet {
            width: 43px;
        }

        @include wideMobile {
            width: 40px;
        }

        @include wideMobile {
            width: 28px;
        }
    }
}

.location {
    display: flex;
    align-items: center;

    @include wideMobile {
        display: none;
    }

    &__icon {
        margin-right: 7px;
    }

    &__name {
        @include fontStyle(Open Sans, 400, 20);

        @include tablet {
            @include fontStyle(Open Sans, 400, 18);
        }
    }
}

.language {
    display: flex;
    align-items: center;
    justify-content: end;

    &__item {
        @include fontStyle(Open Sans, 400, 20);

        @include tablet {
            @include fontStyle(Open Sans, 400, 18);
        }

        @include wideMobile {
            @include fontStyle(Open Sans, 400, 16);
        }

        @include mediumMobile {
            @include fontStyle(Open Sans, 400, 14);
        }

        &:hover {
            cursor: pointer;
            @include hoverUnderlineText;
        }
    }

    &__separator {
        background-color: #fff;
        width: 0px;
        border: 1px solid #fff;
        height: 20px;
        margin: 0 10px;

        @include tablet {
            margin: 0 7px;
        }
    }
}