.projects {
    &__container {
        margin-top: 150px;

        @include tablet {
            margin-top: 120px;
        }

        @include wideMobile {
            margin-top: 100px;
        }

        @include mediumMobile {
            margin-top: 80px;
        }
    }

    &__separator {
        display: Grid;
        grid-template-columns: max-content 1fr;

        &-heading {
            @include fontStyle(Open Sans, 600, 30);

            @include netbook {
                @include fontSize(28);
            }

            @include wideMobile {
                @include fontSize(22);
            }

            @include tinyMobile {
                @include fontSize(20);
            }
        }

        &-item {
            background-color: #fff;
            width: 100vw;
            height: 0.5px;
            align-self: center;
            margin: 5px;
            border: none;
        }
    }
}

.table {
    margin-top: 50px;

    &__completed {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
        column-gap: 50px;
        row-gap: 50px;

        @include netbook {
            column-gap: 20px;
        }

        @include tablet {
            column-gap: 0;
        }

        @include wideMobile {
            row-gap: 40px;
        }

        @include tinyMobile {
            row-gap: 30px;
        }
    }

    &__incomplete {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        column-gap: 50px;
        row-gap: 50px;
        margin-top: 100px;

        @include netbook {
            column-gap: 20px;
        }

        @include wideMobile {
            margin-top: 60px;
            row-gap: 40px;
        }

        @include tinyMobile {
            row-gap: 30px;
        }
    }

    &__heading {
        display: flex;
        justify-self: center;
        @include fontStyle(Open Sans, 600, 40);
        grid-column-start: 1;
        grid-column-end: 3;

        @include netbook {
            @include fontSize(36);
        }

        @include tablet {
            @include fontSize(30);
        }

        @include wideMobile {
            @include fontSize(26);
        }

        @include mediumMobile {
            @include fontSize(24);
        }

        @include tinyMobile {
            @include fontSize(22);
        }
    }

    &__description {
        @include fontStyle(Open Sans, 400, 20);

        @include tablet {
            @include fontSize(18);
        }

        @include mediumMobile {
            @include fontSize(14);
        }

        &:last-child{
            margin-top: 30px;
        }
        
        &--wrapper {
            width: 100%;
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include tinyDesktop {
                width: 70%;
            }

            @include tablet {
                width: 80%;
                grid-column-start: 1;
                grid-column-end: 3;
            }

            @include wideMobile {
                width: 100%;
            }
        }
    }

    &__project {
        position: relative;
        transition: 1s all ease;
        overflow: hidden;

        &:hover {
            background-color: #060606;
            cursor: pointer;

            .table__project-about--wrapper {
                opacity: 1;
                transition: all 0.124s ease-in-out;
            }

            .table__project-img {
                opacity: 0.5;
                transform: scale(1.05);
            }
        }

        &-first {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;

            @include tablet {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }

        &-second {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;

            @include tablet {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }

        &-third {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 2;

            @include tablet {
                grid-row-start: 3;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        &-img {
            opacity: 1;
            transition: opacity 0.124s linear, transform 0.124s linear;
            width: 100%;
            height: 100%;
            display: block;

            @include tablet {
                &--first {
                    content:url('../images/completed_building_1-horizontal.webp');
                }
    
                &--second {
                    content:url('../images/completed_building_2-horizontal.webp');
                }

                &--third {
                    content:url('../images/unfinished_building-horizontal.webp');
                }
            }
        }

        &-about {
            display: flex;
            align-items: start;
            @include fontStyle(Open Sans, 400, 20);
            padding: 15px 35px;
            flex-direction: column;


            @include tablet {
                @include fontSize(18);
            }

            @include mediumMobile {
                @include fontSize(14);
            }

            &--inner {
                @include fontStyle(Open Sans, 400, 20);

                @include tablet {
                    @include fontSize(18);
                }

                @include mediumMobile {
                    @include fontSize(14);
                }
            }

            &--bold {
                @include fontStyle(Open Sans, 600, 20);

                @include tablet {
                    display: none;
                    @include fontSize(18);
                }

                @include mediumMobile {
                    @include fontSize(14);
                }


            }

            &--wrapper {
                position: absolute;
                display: flex;
                bottom: 0;
                opacity: 0;

                backdrop-filter: blur(5px);
                background-color: rgba(128, 128, 128, 0.2);
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        }

        &-arrow {
            height: 65px;
            width: 65px;

            @include tablet {
                height: 45px;
                width: 45px;
            }

            &--wrapper {
                background-color: rgba(128, 128, 128, 0.3);
            }
        }
    }
}

.accordion {
    grid-column-start: 1;
    grid-column-end: 3;

    &__example {
        grid-row-start: 2;
    }

    &__tab {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px solid #fff;
        padding-bottom: 25px;
        margin-top: 60px;
        cursor: pointer;

        &:hover {
            cursor: pointer;
        }

        &-heading {
            @include fontStyle(Open Sans, 500, 26);

            @include netbook {
                @include fontSize (24);
            }

            @include tablet {
                @include fontSize (22);
            }

            @include mediumMobile {
                @include fontSize (18);
            }
        }

        .accordion__arrowIcon {
            transition: transform 0.3s ease-in-out;
            padding-right: 2%;
        }
    }

    &__panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 50px;
        height: max-content;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-out;

        .gallery {
            &__container {
                margin-top: 0px;
            }
        }

        @include wideMobile {
            row-gap: 30px;
            column-gap: 30px;
        }
    }

    &__info {

        &-heading {
            @include fontStyle(Open Sans, 500, 24);
            margin-bottom: 25px;

            @include netbook {
                @include fontSize(22);
            }

            @include tablet {
                @include fontSize(20);
            }

            @include wideMobile {
                @include fontSize(16);
            }
        }

        &-item {
            @include fontStyle(Open Sans, 400, 20);
            margin-top: 20px;
            color: #fff;
            list-style: inside;

            @include tablet {
                @include fontSize(18);
            }

            @include wideMobile {
                @include fontSize(14);
            }
        }

        &-description {
            grid-column-start: 1;
            grid-column-end: 3;
            @include fontStyle(Open Sans, 400, 20);

            @include tinyDesktop {
                @include fontSize(22);
            }

            @include tablet {
                @include fontSize(18);
            }

            @include wideMobile {
                @include fontSize(16);
            }

            @include mediumMobile {
                @include fontSize(14);
            }
        }

        &-separator {
            margin: 50px 0;
        }
    }

    &__download {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 80px;
        width: fit-content;

        &:last-child {
            margin-top: 20px;
        }

        @include wideMobile {
            margin-top: 60px;
        }

        &:hover {
            cursor: pointer;
        }

        &-pic {
            width: 25px;
            height: 25px;
            margin-right: 5px;

            @include mediumMobile {
                width: 18px;
                height: 18px;
            }
        }

        &-text {
            @include fontStyle(Open Sans, 700, 20);

            @include tablet {
                @include fontSize(18);
            }

            @include wideMobile {
                @include fontSize(14);
            }
        }
    }
}

.mapPlaceholder {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #f8f9fa;
    width: 100%;
    aspect-ratio: 16/9;

    @include tablet {
        aspect-ratio: 4/3;
    }
}

