.services {
    &__container {
        margin-top: 150px;
    }

    &__separator {
        display: Grid;
        grid-template-columns: 1fr max-content;

        &-heading {
            @include fontStyle(Open Sans, 600, 30);

            @include netbook {
                @include fontSize(28);
            }

            @include wideMobile {
                @include fontSize(22);
            }

            @include tinyMobile {
                @include fontSize(20);
            }
        }

        &-item {
            background-color: #fff;
            width: auto;
            height: 0.5px;
            align-self: center;
            margin-left: -50vw;
            margin-right: 5px;
            border: none;
        }
    }
} 

.table {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 260px;
    row-gap: 110px;

    @include tinyDesktop {
        column-gap: 70px;
        row-gap: 80px;
    }

    @include netbook {
        grid-template-columns: 1fr;
        margin-top: 30px;
        row-gap: 60px;
    }

    @include wideMobile {
        row-gap: 40px;
    }

    &__item {
        display: grid;
        grid-template-columns: min-content 1fr;

        &-number {
            @include fontStyle(Open Sans, 500, 70);

            @include tablet {
                @include fontSize(60);
            }

            @include wideMobile {
                @include fontSize(54);
            }
        }

        &-name {
            @include fontStyle(Open Sans, 500, 30);
            text-transform: uppercase;

            @include tablet {
                @include fontSize(28);
            }

            @include wideMobile {
                @include fontSize(26);
            }

            @include mediumMobile {
                @include fontSize(22);
            }

            &--wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center ;
                margin-left: 5px;
            }

            &--underline {
                width: 100%;
                border-bottom: 0.5px solid #fff;
            }
        }

        &-info {
            @include fontStyle(Open Sans, 400, 20);
            grid-column-start: 1;
            grid-column-end: 3;

            @include tablet {
                @include fontSize(18);
            }

            @include wideMobile {
                @include fontSize(16);
            }

            @include mediumMobile {
                @include fontSize(14);
            }
        }
    }
}